.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog-content {
    padding: 48px 40px 48px 40px;
    width: 530px;
    transform: translateX(100vw);
    transition: transform 700ms ease-in-out, opacity 700ms ease-in-out;
    box-sizing: border-box;
}

.close-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-type {
    color: white;
    padding: 4px 24px;
    border-radius: 8px;
    font-size: 23px;
}

.task-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.task-description {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

.task-details {
    margin-bottom: 20px;
}

.task-detail-item {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}

.task-detail-label {
    width: 120px;
    font-weight: bold;
}

.task-detail-value {
    color: #333;
    margin-right: 10px;
}

.task-assigned {
    font-size: 20px;
    margin-bottom: 10px;

}

.assigned-users {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    margin-top: 10px;
}

.assigned-user {
    display: flex;
    align-items: center;
}

.user-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 3px solid #29ABE2;
    outline: 2px solid white;
    outline-offset: -1px;
    background-color: white;
    border-radius: 14px;
    font-size: 12px;
    margin-right: 10px;
}

.user-name {
    font-size: 14px;
}

.task-subtasks {
    margin-bottom: 20px;
}

.subtasks-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.subtask {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subtask-name {
    margin-left: 10px;
}

.task-actions {
    display: flex;
    justify-content: flex-end;
}


.delete-btn {
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        margin-right: 5px;
    }
}

.edit-btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        margin-right: 5px;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}