<nav class="mobile-menu">
    <a class="icon-box" routerLink="summary" routerLinkActive="active">
        <img src="../../../assets/img/summary_icon.svg" alt="">
        <p>Summary</p>
    </a>
    <a class="icon-box" routerLink="addtask" routerLinkActive="active">
        <img src="../../../assets/img/add_task_icon.svg" alt="">
        <p>Add Task</p>
    </a>
    <a class="icon-box" routerLink="board" routerLinkActive="active">
        <img src="../../../assets/img/board_icon2.svg" alt="">
        <p>Board</p>
    </a>
    <a class="icon-box" routerLink="users" routerLinkActive="active">
        <img src="../../../assets/img/user_icon2.svg" alt="">
        <p>Members</p>
    </a>
</nav>